<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>175480566308-tubsm93ctdcqb565u7plofr2vc8c0jje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.175480566308-tubsm93ctdcqb565u7plofr2vc8c0jje</string>
	<key>API_KEY</key>
	<string>AIzaSyDM_cvigxMsDdLKBR0z385lBwAAUE5Sm5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>175480566308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rv.WeatherDemo</string>
	<key>PROJECT_ID</key>
	<string>wheatherdemo-a8062</string>
	<key>STORAGE_BUCKET</key>
	<string>wheatherdemo-a8062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:175480566308:ios:034025da4e195562de5eb1</string>
</dict>
</plist>